[submodule "chat-orch"]
	path = chat-orch
	url = git@github.com:UNagent-1D/chat-orch.git
	branch = main
[submodule "conversation-chat"]
	path = conversation-chat
	url = git@github.com:UNagent-1D/conversation-chat.git
[submodule "FrontEnd"]
	path = FrontEnd
	url = git@github.com:UNagent-1D/FrontEnd.git
	branch = main
[submodule "Hospital-MP"]
	path = Hospital-MP
	url = git@github.com:UNagent-1D/Hospital-MP.git
[submodule "Metricas"]
	path = Metricas
	url = git@github.com:UNagent-1D/Metricas.git
	branch = main
[submodule "Tenant"]
	path = Tenant
	url = git@github.com:UNagent-1D/Tenant.git
	branch = main
[submodule "agent-runtime"]
	path = agent-runtime
	url = git@github.com:UNagent-1D/agent-runtime.git
[submodule "UN_email_send_ms"]
	path = UN_email_send_ms
	url = git@github.com:UNagent-1D/UN_email_send_ms.git
	branch = main
